<HTML dir="RTL"> 
<p align=right>
<td>
שלום *
<BR>
זה עתה הצטרפת בהצלחה למדריך הגלוטן של עמותת צליאק בישראל באינטרנט.<BR>
באפשרותך כעת:<BR>
<BR>
1<BR>
לבדוק נוכחות של גלוטן במוצרים המופיעים בספרון העמותה מכל מקום בו יש אינטרנט.<BR>
2<BR>
לבדוק נוכחות של גלוטן במוצרים המופיעים בספרון העמותה בעזרת הטלפון הסלולרי.<BR>
<BR>
הוראות נוספות ניתן למצא (תחת 'עזרה') באתר<BR>
*
<BR>
אנא שמור אימייל זה, הוא מכיל את שם המשתמש והסיסמא שבחרת וכמו כן את הכתובת המיוחדת שיש להזין במכשירך הסלולרי ע"מ לחפש מוצרים בעזרת הפלאפון.<BR>
<BR>
שם משתמש:<BR>
*
<BR>
סיסמא:<BR>
*
<BR>
כתובת הזנה למכשיר הסלולר:<BR>
*
<BR>
תודה,<BR>
<BR>
עמותת צליאק בישראל<BR>
</td>
</HTML>